@import "settings";

.form {
  background-image: url('boston-parking.jpg');
  background-size: cover;
}

.form-contents {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  background: #EEFCFC;
  opacity: .98;
  height: 100%;

  @include breakpoint(small down) {
    width: 90vw;
  };

  @include breakpoint(medium) {
    width: 60vw;
  };
}

.text-area {
  height: 20vh;
  width: 60vw;
}

#login-button {
  width: 85px;
}
