.new {
  font-size: 1.4em;
  margin-bottom: 1%;
}

.flash {
  background-color: #008CBA;
  height: 40px;
  text-align: center;
  color: white;
  padding-top: .3%;
  font-size: 20px;
}

.index-map {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  margin-top: 3%;
}

.free-parking-area-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;
}
