.new {
  font-size: 1.4em;
  margin-bottom: 1%;
}

.flash {
  background-color: #008CBA;
  height: 40px;
  text-align: center;
  color: white;
  padding-top: .3%;
  font-size: 20px;
}

.index-map {
  height: 700px;
  width: 90%;
  float: left;
}
