@import "settings";

.infowindow-content {
  height: 300px;
  overflow: auto;
  width: 225px;

  @include breakpoint(medium up) {
    min-width: 350px;
  };
}

.description-text {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #2199e8;
  margin-top: 4%;
}

.review-area {
  margin-bottom: 2%;
  border: 1px solid #2199e8;
}

.review-text {
  padding-top: 5%;
  padding-bottom: 5%;
}

.voting {
  text-align: right;
}

.upvoted {
  color: orange;
}

.downvoted {
  color: orange;
}

// .star {
//   height: 80px;
// }
