// Place all the styles related to the FreeParkingAreas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  // &:visited {
  //   color: black;
  // }

  &:hover {
    color: #B3D1FF;
  }
}

.top-bar {
  height: 20vh;
  background-color: #075B9A;
  position: relative;
}

.top-bar-text {
  color: white;
}

.overlay-link {
  margin-left: 68%;
  position: absolute;
  bottom: 2%;
}

#park-easy {
  padding-left: 4%;
}

.overlay-marker {
  padding: 0;
  width: 20px !important;
}
