// Place all the styles related to the FreeParkingAreas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  // &:visited {
  //   color: black;
  // }

  &:hover {
    color: #B3D1FF;
  }
}

.top-bar {
  height: 20vh;
  background-color: #075B9A;
  position: relative;
}

.top-bar-text {
  color: white !important;
}

.top-bar-text:hover {
    color: #aaa !important;
}

#park-easy {
  padding-left: 4%;
  text-align: center;
}

.overlay-marker {
  padding: 0;
  width: 20px !important;
}

#marker_guide_link {
  margin-left: 65vw;
  position: absolute;
  bottom: 0;
}

#dropdown-menu {
  max-width: 140px;
  background-color: #019FE9;
}

#sign-up, #sign-out {
  border-top: 1px solid white;
}
